# Resume/CV classifier using NLP

Our aim is to create an application that should be used by the HR Team to filter the resume based on the Skills.

For this, We are going to use a dataset from kaggle clean and pre-process it to fit a suitable classification model to assist the HR team to filter resume based on the job-role.

##Dataset
The datset for this model has been taken from kaggle, link to the data - *"https://www.kaggle.com/datasets/jillanisofttech/updated-resume-dataset"*

NLP 

For this problem statement, we are gonna use spacy package which is an open source NLP package to process text data. In particular we are using 'en_core_web_lg' pre-trained package for our analysis.

referred from "https://spacy.io/usage/spacy-101/"

In [ ]:
!python -m spacy download en_core_web_lg

/usr/local/lib/python3.9/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")
2023-03-27 23:36:30.350407: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-03-27 23:36:32.634889: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-03-27 23:36:32.635062: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
2023-03-27 23:36:32.635089: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.
2023-03-27 23:36:35.481747: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting en-core-web-lg==3.5.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl (587.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 587.7/587.7 MB 1.0 MB/s eta 0:00:00
Requirement already satisfied: spacy<3.6.0,>=3.5.0 in /usr/local/lib/python3.9/dist-packages (from en-core-web-lg==3.5.0) (3.5.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (8.1.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (3.1.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (4.65.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (1.0.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (1.0.9)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (1.22.4)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (1.10.7)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (6.3.0)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (3.0.12)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (3.3.0)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (1.1.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (2.0.8)
Requirement already satisfied: pathy>=0.10.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (0.10.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (23.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (3.0.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (67.6.0)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (0.7.0)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (2.4.6)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (2.0.7)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.9/dist-packages (from spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (2.27.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (3.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.9/dist-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.9/dist-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (0.0.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.9/dist-packages (from typer<0.8.0,>=0.3.0->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->spacy<3.6.0,>=3.5.0->en-core-web-lg==3.5.0) (2.1.2)
Installing collected packages: en-core-web-lg
Successfully installed en-core-web-lg-3.5.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_lg')

In [ ]:
#importing neccessary  spacy modules
import spacy #using spacy module for vectorization
nlp= spacy.load('en_core_web_lg') #en_core_web_lg is the pre-trained model by spacy

/usr/local/lib/python3.9/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [ ]:
!pip install unidecode

In [ ]:
import pandas as pd
import numpy as np
import re
import string
import unidecode

In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

We'll read the data and convert it into dataframe.

In [ ]:
df=pd.read_csv("UpdatedResumeDataSet.csv")

In [ ]:
df.shape

(962, 2)

Well we have around 960 samples for this analysis.

In [ ]:
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [ ]:
df.Category.value_counts()

Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Blockchain                   40
ETL Developer                40
Operations Manager           40
Data Science                 40
Sales                        40
Mechanical Engineer          40
Arts                         36
Database                     33
Electrical Engineering       30
Health and fitness           30
PMO                          30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
SAP Developer                24
Civil Engineer               24
Advocate                     20
Name: Category, dtype: int64

we have different categories of data and this falls under multiclass classification problem.

##Data pre-processing and cleaning

Our text data consists of special characters, digits, whitespaces, single characters, accented characters, stop words. Which is not gonna contribute a lot while fitting the model. So we gonna strip it and clean it using below function.

In [ ]:
#we need to pre-process and clean the data
def clean_words(text):
    """Basic cleaning of texts"""
    
    # remove html
    text=re.sub("(<.*?>)","",text)
    
    #remove non-ascii and digits
    text=re.sub("(\\W|\\d)"," ",text)
    
    #remove whitespace
    text=text.strip()
    
    #removing single charcters pattern
    text=re.sub(pattern='\s+[a-zA-Z]\s+' ,repl=" ", string=text)
    
    #remove accented characters
    text=unidecode.unidecode(text) #we have accented characters like a^ etc, so to remove that we are performing 
    
    #to make words into lowercase
    text=text.lower()
    
    #removing stop words from the paragraph
    words = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    text = " ".join(words)
    
    #here we are avoiding tokenization since the spacy's model takes string or doc as input not list of words
    # also we are not performing stemming and lemmatization since it will change the context of skills and other words in resume text
    
    
    return text

In [ ]:
df['cleaned_text']=df.Resume.map(lambda x: clean_words(x)) #applying function column wise.

In [ ]:
df.head()

,Category,Resume,cleaned_text
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may may e uit rgpv data scie...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills python sap hana tableau sap hana sql sa...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...

Now that we have cleaned the text it is ready to vectorize

###Vectorizing text data

ML algorithms only understood the numerical type data as input, so we need to convert our text data into numerical and fit the model. For this we are applying .vector method from spacy. It will returns a 300 sized uniform vectors for our text model as numpy ndarray.

In [ ]:
df['vectorized_data']=df.cleaned_text.apply(lambda text: nlp(text).vector)

In [ ]:
df.head()

,Category,Resume,cleaned_text,vectorized_data
0,Data Science,Skills * Programming Languages: Python (pandas...,skills programming languages python pandas num...,"[0.00019259728, -0.063411176, 0.022081006, 0.5..."
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,education details may may e uit rgpv data scie...,"[-0.38565177, 0.41584927, -0.22689901, 0.05342..."
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",areas interest deep learning control system de...,"[-0.34571993, 0.064293616, -0.47398934, 0.1207..."
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skills python sap hana tableau sap hana sql sa...,"[-0.06141665, -0.009636918, -0.60103905, 0.345..."
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",education details mca ymcaust faridabad haryan...,"[0.102590054, -0.23031569, -0.4390396, -0.2980..."

The pre-processing and vectoriztion part is done, Now we will proceed with fitting a best model for the dataset and check if it accurately predicts the results

##Applying ML classification

In [ ]:
#importing necessary ML packages
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from  sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [ ]:
x=df['vectorized_data']
y=df['Category']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    test_size=0.3,
    random_state=1049
)

###KNN

In [ ]:
knn=KNeighborsClassifier(n_neighbors = 5, metric = 'euclidean') #using k=5

Note that our vectorized array was an embedded numpy array so inorder to make it ready for analysis we need to flatten it out.

In [ ]:
#using numpy stack method
x_train=np.stack(x_train)
x_test=np.stack(x_test)

In [ ]:
knn.fit(x_train,y_train)
y_predtest=knn.predict(x_test)

In [ ]:
print(classification_report(y_test, y_predtest))

                           precision    recall  f1-score   support

                 Advocate       1.00      1.00      1.00         6
                     Arts       0.80      1.00      0.89         8
       Automation Testing       1.00      0.50      0.67         4
               Blockchain       1.00      1.00      1.00        10
         Business Analyst       0.57      0.80      0.67         5
           Civil Engineer       1.00      0.50      0.67        10
             Data Science       1.00      1.00      1.00        15
                 Database       1.00      1.00      1.00         8
          DevOps Engineer       0.77      0.91      0.83        11
         DotNet Developer       1.00      0.82      0.90        11
            ETL Developer       0.79      1.00      0.88        11
   Electrical Engineering       0.75      1.00      0.86        12
                       HR       1.00      0.47      0.64        15
                   Hadoop       1.00      1.00      1.00        11
       Health and fitness       1.00      0.50      0.67        14
           Java Developer       0.91      0.72      0.81        29
      Mechanical Engineer       1.00      1.00      1.00        13
Network Security Engineer       1.00      0.62      0.77         8
       Operations Manager       0.57      1.00      0.73        12
                      PMO       1.00      1.00      1.00        12
         Python Developer       0.60      1.00      0.75        15
            SAP Developer       1.00      0.60      0.75         5
                    Sales       1.00      1.00      1.00        13
                  Testing       0.85      1.00      0.92        17
            Web Designing       1.00      1.00      1.00        14

                 accuracy                           0.87       289
                macro avg       0.90      0.86      0.86       289
             weighted avg       0.90      0.87      0.86       289

### Gradient boosting classifier
Now we will check fitting the data with an ensemble classification model Gradient boosting classifier and check the accuracy and F1 score

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gbc=GradientBoostingClassifier(learning_rate=0.1,n_estimators=100)

In [ ]:
gbc.fit(x_train,y_train)
y_predtestgbc=gbc.predict(x_test)

In [ ]:
print(classification_report(y_test, y_predtestgbc))

                           precision    recall  f1-score   support

                 Advocate       1.00      1.00      1.00         6
                     Arts       1.00      1.00      1.00         8
       Automation Testing       1.00      1.00      1.00         4
               Blockchain       1.00      1.00      1.00        10
         Business Analyst       1.00      1.00      1.00         5
           Civil Engineer       1.00      1.00      1.00        10
             Data Science       1.00      0.73      0.85        15
                 Database       1.00      1.00      1.00         8
          DevOps Engineer       1.00      0.91      0.95        11
         DotNet Developer       1.00      1.00      1.00        11
            ETL Developer       1.00      1.00      1.00        11
   Electrical Engineering       1.00      1.00      1.00        12
                       HR       1.00      1.00      1.00        15
                   Hadoop       1.00      1.00      1.00        11
       Health and fitness       1.00      1.00      1.00        14
           Java Developer       0.88      1.00      0.94        29
      Mechanical Engineer       1.00      1.00      1.00        13
Network Security Engineer       1.00      1.00      1.00         8
       Operations Manager       1.00      1.00      1.00        12
                      PMO       1.00      1.00      1.00        12
         Python Developer       1.00      1.00      1.00        15
            SAP Developer       0.83      1.00      0.91         5
                    Sales       1.00      1.00      1.00        13
                  Testing       1.00      1.00      1.00        17
            Web Designing       1.00      1.00      1.00        14

                 accuracy                           0.98       289
                macro avg       0.99      0.99      0.99       289
             weighted avg       0.98      0.98      0.98       289

wow!...The results were great when compared to KNN

##Model testing

Now we will extract data from real world CV and try fitting our model into it.

We have string file, now we'll do the cleaning and pre-processing and make it ready for prediction.

In [ ]:
with open ("resumedata.txt", 'r') as file: #resumedata.txt is an output file from the "resume parser driver code" program
    data_str=file.read()

In [ ]:
vect_data=nlp(clean_words(data_str)).vector

In [ ]:
vect_data

array([-0.03519086, -0.23032434,  0.8617982 ,  0.7763227 ,  1.4544411 ,
       -0.38665673,  0.51583856,  2.6982753 , -2.0374744 , -0.65372753,
        3.7231057 ,  2.0689526 , -3.488773  ,  1.9285731 , -0.6332722 ,
        0.68342286,  2.2526276 ,  1.5785108 , -1.6024902 , -0.2917276 ,
        0.4299252 ,  1.3061293 , -1.8252627 ,  0.5566585 , -1.5120682 ,
       -1.6978103 , -0.47150263, -1.5305506 , -0.51427376,  0.5980255 ,
       -0.00430435,  0.73801225, -1.0413609 ,  0.06293961,  0.8704292 ,
       -0.4150487 ,  0.29026455,  0.17028241,  1.4742746 ,  0.41138595,
        0.58001614, -0.28210592, -0.3220857 ,  0.29367995, -1.1440262 ,
        1.0020949 ,  1.0268222 , -1.836038  , -0.11047358, -1.2677326 ,
        0.09761833,  1.331491  , -0.33938974, -2.1910796 , -1.2874818 ,
        0.75148696, -1.3914795 ,  1.5129235 ,  0.35978946, -1.4824693 ,
        1.6968132 ,  1.5539579 , -1.9627119 , -0.43256775,  1.2096732 ,
        2.1433537 , -1.7191191 , -2.7408767 , -0.07127384,  1.6792749 ,
       -1.1200631 ,  0.3839228 , -0.79768133,  0.15209395, -0.3572329 ,
        1.0125437 , -1.3724439 ,  0.37879124, -1.3236694 ,  0.11308614,
       -1.7189741 , -0.95990264,  0.2554735 ,  1.5129306 , -0.21245988,
       -0.86255485,  0.5547057 , -0.99908924,  0.9028127 , -0.4260695 ,
       -1.022885  ,  1.0462291 ,  1.5761313 , -1.3121377 , -0.6650944 ,
       -0.1979244 , -0.37708044, -0.8655036 ,  1.1017697 ,  0.98434025,
        1.8747362 ,  0.8997283 ,  1.1906374 ,  0.90057784, -0.14238916,
        3.5244153 , -0.40926543, -1.0488555 , -0.6466042 , -0.7760492 ,
        1.887587  ,  0.20992315, -1.0134184 , -0.04649002,  0.0303937 ,
        1.4509081 , -1.9985639 ,  0.12192012, -0.41259193, -2.4757597 ,
       -2.1654472 , -1.9061761 ,  0.5293719 ,  1.1634877 , -0.04563235,
       -1.7938113 , -0.15646413, -3.0685136 ,  1.8786085 , -1.4133153 ,
       -1.5583365 ,  1.0219092 ,  2.052418  ,  0.23656437,  0.36349484,
       -0.3823923 , -1.0625205 , -0.54596525,  1.4216186 ,  0.49384892,
        0.10076948, -0.20367761, -0.06192382,  0.66143703,  1.1814604 ,
       -0.43057853, -1.7575907 ,  0.10459299,  0.7670087 ,  1.8787363 ,
        0.43640852,  1.1583121 ,  0.06221679,  0.09932701, -1.4608656 ,
        0.04113285,  1.5578476 ,  1.5038561 , -0.5867677 , -1.7624692 ,
       -0.62529236, -0.7252046 ,  0.16399746,  1.1543508 , -1.2760729 ,
       -0.75210536, -1.6006745 ,  0.82932365,  0.14869171, -0.8216029 ,
       -1.5487558 , -0.48612896, -0.34568906,  1.0434793 ,  1.8941085 ,
        1.3561406 ,  0.9300003 ,  0.1968381 , -2.234164  , -0.7672087 ,
       -1.2341676 ,  1.6683338 ,  0.38087052, -1.6633409 , -0.15444857,
        0.8023904 , -0.92271477, -1.7801257 ,  0.5940137 ,  0.31883016,
       -0.01827372, -0.9866816 ,  0.15805544, -1.6123843 ,  0.9975724 ,
        1.6476161 , -2.1780865 , -0.34298074,  1.2331766 ,  0.03472296,
       -0.88252795, -0.6814038 , -0.4009608 , -0.7891764 ,  2.5371957 ,
        0.86011595, -1.8217927 ,  0.68838584,  0.6735484 , -1.3081402 ,
        0.00488982,  0.2846968 , -0.5611617 ,  1.6873057 ,  0.80501014,
        1.3871611 ,  1.445598  , -2.99148   , -0.10598745,  0.7391207 ,
       -1.3254261 ,  1.5608779 , -1.199491  ,  0.38644373,  0.12015358,
       -1.0909209 ,  0.8623528 ,  0.8248288 ,  1.2246644 , -0.00438428,
        1.5275996 , -2.0666068 , -0.50097877,  0.84154654,  1.3188295 ,
        0.26522514,  0.742126  , -0.5823246 ,  1.1075971 ,  0.860895  ,
       -2.2079105 , -1.244734  , -0.23407672,  1.3061504 ,  0.30497387,
        0.43313962, -1.5406895 , -0.11157203,  0.22152026,  0.3821706 ,
        0.1887164 , -1.3309717 , -3.0367267 , -1.5978985 , -0.79676163,
       -1.452689  ,  0.6856745 , -0.6484673 , -0.81568086,  0.8280082 ,
       -1.0510387 ,  3.5934176 ,  0.8364239 ,  0.9484137 ,  0.8228143 ,
       -0.53684986,  0.3272899 ,  1.7923363 , -1.198664  , -0.94782865,
       -0.01709303, -0.40160146,  0.14405712, -0.7259057 , -0.01802816,
       -1.9598933 ,  0.75930864, -1.195451  , -0.34655282,  1.1399066 ,
        2.1582146 ,  0.30529827,  0.8793309 ,  0.25533614,  1.6305193 ,
       -0.09299661,  1.0592628 ,  1.2115018 , -1.4617288 , -0.16058685,
        0.22785996, -0.14625606, -0.33143744,  0.6035573 , -0.93151367,
        0.4768029 ,  0.7685245 , -1.6190218 , -0.5708925 ,  1.6625521 ],
      dtype=float32)

Note that our output array is of 1D numpy array, but we need to feed 2D array as input, because model will consider only 2D. 
You can ignore this if you are gonna predict for a number of CV's. In our case we doing it for just one. so we are reshaping it
with .reshape(1,-1).

In [ ]:
sample_pred=gbc.predict(vect_data.reshape(1, -1))

In [ ]:
sample_pred

array(['Java Developer'], dtype=object)

Oh okay !... it got predicted as java developer though ....we will keep working on tuning model and the data as well...